/*====================================
目次
┗【 contact 】
┗【 400 】
=====================================*/

@use "../global" as *;

/*====================================
* contact
=====================================*/
#contact {
  .l-inner {
    max-width: 800px;
  }
  dl {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    @include mq(l) {
      grid-template-columns: 240px auto;
    }
    + dl {
      margin-top: 20px;
    }
  }
  input,textarea {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #999;
    line-height: 1.4;
  }
  textarea {
    field-sizing: content;
    min-height: 10rem;
    max-height: 40rem;
  }
  button {
    margin: 60px auto 0;
    width: 280px;
    height: 60px;
    display: grid;
    place-content: center;
    color: #fff;
    font-weight: bold;
    background-color: $key_color;
    border-radius: 5px;
    border: 1px solid $key_color;
    transition: 0.3s;
    transition-property: color, background-color;
    @include hover {
      color: $key_color;
      background-color: #fff;
    }
  }
}

/*====================================
* 404
=====================================*/
.not-found {
  text-align: center;
  color: #fff;
  .tit {
    font-size: cl(24,36,900);
    font-weight: bold;
    + p {
      margin: 30px auto 60px;
    }
  }
}