---
import PageLayout from '../../layouts/pageLayout.astro';

const pageTitle = 'お問い合わせ';
const slug = 'contact';
---

<PageLayout pageTitle={pageTitle} slug={slug}>
  <h2>お問い合わせありがとうございます。</h2>
</PageLayout>