---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="not-found">
    <h2 class="tit">Not Found</h2>
    <p>お探しのページは存在しないか、移動した可能性があります。</p>
    <div class="c-btn">
      <a href="/">トップに戻る</a>
    </div>
  </div>
</BaseLayout>