---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogList from '../components/BlogList.astro';
import MvSwiper from '../components/MvSwiper.astro';
// import BlogPost from '../components/BlogPost.astro';
import { getBlogs } from "../library/microcms";

const response = await getBlogs({ 
  fields: ["id", "title", "thumbnail", "publishedAt", "tags"], 
  limit: 3, 
  offset: 0 //何軒目から取得するか
});

const responseArray = response.contents;

const slug = 'top';
---

<BaseLayout slug={slug}>
  <MvSwiper />
  <section class="top-blog">
    <BlogList responseArray={responseArray} />
    <div class="c-btn">
      <a href="/page/">ブログ一覧へ</a>
    </div>
  </section>
</BaseLayout>