---
import Navigation from './Navigation.astro';
const pageTitle = "Blender日誌";
---
<header class="l-header">
  <div class="l-header-logo">
    <a href="/">
      <h1>{pageTitle}</h1>
    </a>
  </div>
  <button id="js-hamburger" class="l-header-btn" aria-label="メニューを開く" aria-controls="header-nav"><div></div></button>
  <Navigation />
</header>