---
---
<nav id="header-nav" class="l-header-menu js-nav-area" aria-label="ヘッダーナビゲーション">
  <ul>
    <li class="spOnly">
      <a href="/">TOP</a>
    </li>
    <li>
      <a href="/page/">Blog</a>
    </li>
    <li>
      <a href="/contact/">Contact</a>
    </li>
  </ul>
  <div id="js-focus-trap" tabindex="0"></div>
</nav>