@use "../global" as *;

/*====================================
* footer / フッター
=====================================*/
.l-footer {
  margin-top: 60px;
  padding: 10px 0;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: #fff;
  p {
    font-size: rm(13);
  }
}
